html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  --text-color: #333;
  color: var(--text-color);
  background-color: #e0f0fd;
}

.container {
  text-align: center;
  margin: auto;
  width: 40%;
  color: #181818;
  padding: 30px 0px 0px 0px;
}

.todo {
  padding-bottom: 15px;
  background: #3366ff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  color: #ffffff;
}

h1 {
  margin-bottom: 20px;
  font-size: 30px;
  margin-top: 0px;
  padding: 25px 0px 0px 0px;
  text-transform: uppercase;
  font-weight: 900;
}

.get-value{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  background: none;
  outline: none;
  border: none;
  border-bottom: 2px solid #ffffff;
  color: #ffffff;
  padding: 8px;
  margin: 8px 0px;
  font-size: 20px;
}

.print-data{
  padding: 3px 0px;
}

#button{
  background-color: #ffffff;
  border: none;
  padding: 8px 16px 8px 16px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  transition: transform 0.6s;
}

#button:hover{
  transform: translateY(-3px);
  background-color: rgb(224, 224, 224);
}

.list-todo {
  height: 60vh;
  background-color: #ffffff;
  overflow-y: scroll;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

#todo {
  padding: 10px 12px 10px 18px;
  margin: 0px;
}

#todo li {
  list-style: none;
  font-weight: bold;
  font-size: 21px;
  width: 100%;
  max-width: 100%;
  display: flex;
  --webkit-display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: justify;
  word-break: break-all;
}

#todo .desc{
  text-align: left;
  margin-top: 0;
  margin-bottom: 15px;
  border-bottom: 1px solid #777777;
  padding-bottom: 8px;
  width: 100%;
}


.completed {
  text-decoration: line-through;
}

.uncompleted {
  text-decoration: none;
  color: black;
}

#todo li input {
  margin-right: 10px;
}

.tools{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 16px;
}

::placeholder {
  color: rgb(255, 255, 255);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  color: rgb(255, 255, 255);
}

::-ms-input-placeholder {
  color: rgb(255, 255, 255);
}

.delBtn{
  padding: 16px;
  text-align: center;
  background-color: white;
  color: black;
  border: none;
  cursor: pointer;
}

@media only screen and (max-width: 1200px){
  .container {
    width: 90%;
    padding: 16px 0px;
  }
}

@media only screen and (max-width: 1000px){
  .container {
    width: 90%;
    padding: 16px 0px;
  }

  .list-todo {
    height: 58vmax;
  }
}

@media only screen and (max-width: 600px){
  .container {
    width: 90%;
    padding: 16px 0px;
  }

  .list-todo {
    height: 50vmax;
  }
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}